@media screen and (max-width: 600px) {
  html {
    font-size: 60.5%;
  }

  body {
    color: #fff;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Pixelify Sans", sans-serif;
  }

  /* header */
  header {
    position: relative;
    height: 35vh;
    border-bottom: 5px solid #64748b;
  }

  main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 2rem;
  }

  .left,
  .right {
    width: 100%;
  }


  /* elements style */
  h1 {
    font-size: 3rem;
    text-align: center;
    color: #38bdf8;
    text-shadow: 0px 2px 8px rgba(56, 189, 248, 0.6);
    position: absolute;
    width: 100%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .number {
    background-color: #38bdf8;
    color: #0f172a;
    font-size: 4.5rem;
    width: 12rem;
    padding: 0.8rem 0rem;
    text-align: center;
    border-radius: 1.2rem;
    box-shadow: 0 8px 20px rgba(56, 189, 248, 0.9);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    margin-top: 1rem;
  }

  .number:hover {
    transform: translate(-50%, -50%) scale(1.05);
  }

  .between {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #94a3b8;
  }

  .again {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  /* Input */
  .guess {
    margin-top: 2rem;
    background-color: #0f172a;
    border: 3px solid #38bdf8;
    border-radius: 12px;
    font-family: inherit;
    color: #e2ebf0;
    font-size: 2.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 20rem; /* katta chiqmasin */
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 15px rgba(56, 189, 248, 0.4);
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
  }

  .guess:focus {
    border-color: #22d3ee;
    box-shadow: 0px 0px 20px rgba(34, 211, 238, 0.6);
  }

  .btn {
    border: none;
    background: linear-gradient(135deg, #38bdf8, #22d3ee);
    color: #0f172a;
    font-size: 1.8rem;
    font-family: inherit;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(34, 211, 238, 0.4);
    transition: all 0.2s ease-in-out;
  }

  .btn:hover {
    background: linear-gradient(135deg, #22d3ee, #38bdf8);
    transform: scale(1.05);
  }

  /* Message & Scores */
  .message {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    min-height: 2rem;
    color: #facc15;
    text-align: center;
  }

  .label-score,
  .label-highscore {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #e2ebf0;
  }
}
